<h1>Eat-Da-Burger!</h1>

<!-- Add a box to add a new burger with a submit button!-->

<!--add a devoured button which would change the devoured boolean based on the burger id to true!-->

<!--left column, display all from burgers table IF devoured = false!-->

<!--right column, display all from burgers table IF devoured = true!-->


